extends layouts/template
append config
  -currentPage = 'Inicio'
block main
  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti pariatur reiciendis incidunt ut exercitationem ea? Iusto natus delectus libero itaque et enim. Saepe laboriosam adipisci provident blanditiis, eum enim hic.
