- var currentPage = 'Inicio'
- var siteName = 'Elecciones 2020 en Bolivia - Visualizacion de datos para el estudio “Comicios Mediáticos III”'
- var slogan = 'Monitoreo, análisis y visualización de datos de las cuentas de candidatos/as presidenciales y partidos políticos en redes sociodigitales para el estudio “Comicios Mediáticos III” en las Elecciones de 2020 en Bolivia'
- var description = 'Monitoreo, análisis y visualización de datos de las cuentas de candidatos/as presidenciales y partidos políticos en redes sociodigitales para el estudio “Comicios Mediáticos III” en las Elecciones de 2020 en Bolivia'

//-Site Version
- var siteVersion = '1.0.0'

//- Root images/svg
- var path_media = './resources/'

//- Root pages
- var path_page = './'